.dashboard-container {
    padding: 40px;
    display: flex;
    justify-content: center;
    width: 100vw;
    margin-top:70px;
  }
  
  .dashboard-content {
    max-width: 970px;
    width: 100%;
  }
  
  .dashboard-header {
    margin-bottom: 40px;
  }
  .header-text h2{
    font-size: 32px;
    font-weight: bold;
    margin-bottom:30px;
  }
  
  .header-text p {
    color: #6a7681;
    font-size: 14px;
    /* margin-top:-30px; */
  }
  
  .stats-cards {
    display: flex;
    gap: 16px;
    justify-content:center;
    margin-bottom: 30px;
    flex-wrap: wrap;
  }
  
  .stat-card {
    background-color: #f1f2f4;
    padding: 20px;
    border-radius: 12px;
    flex: 1;
    min-width: 25%;
  }
  
  .stat-title {
    font-size: 16px;
    color: #121416;
  }
  
  .stat-value {
    font-size: 24px;
    font-weight: bold;
  }
  
  .stat-change {
    font-size: 16px;
  }
  
  .section-title {
    font-size: 20px;
    font-weight: bold;
    margin-top: 40px;
    margin-bottom: 15px;
  }
  
  .quick-actions {
    display: flex;
    gap: 10px;
    margin-bottom: 30px;
  }
  
  .action-button {
    border-radius:15px;
    padding: 10px 20px;
    font-weight: 600;
    cursor: pointer;
    border: none;
    font-size:15px;
    border:none;
    outline:none;
  }
  .action-button.grey:hover, .action-button.blue:hover{
    color:gray;
    border:none;
    outline:none;
  }
  
  .action-button.blue {
    background-color: #dce8f3;
    color: #121416;
    border:none;
    outline:none;
  }
  .modal-form {
    display: flex;
    flex-direction: column;
    gap: 10px;
  }
  
  .modal-form label {
    display: flex;
    flex-direction: column;
    font-weight: bold;
  }
  
  .modal-form input,
  .modal-form textarea {
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
  }
  
  .modal-actions {
    display: flex;
    justify-content: flex-end;
    gap: 10px;
  }
  
  .action-button.grey {
    background-color: #f1f2f4;
    color: #121416;
    border:none;
    outline:none;
  }
  
  .insights {
    display: flex;
    gap: 16px;
    flex-wrap: wrap;
    margin-bottom: 30px;
  }
  
  
  .applications-table {
    overflow-x: auto;
    border: 1px solid #dde1e3;
    border-radius: 12px;
    background-color: #fff;
  }
  
  .applications-table table {
    width: 100%;
    border-collapse: collapse;
  }
  
  .applications-table th,
  .applications-table td {
    padding: 16px;
    text-align: left;
    font-size: 15px;
  }
  
  .applications-table th {
    background-color: #fff;
    color: #121416;
  }
  
  .applications-table tr {
    border-top: 1px solid #dde1e3;
  }
  
  .view-action {
    color:rgb(0, 65, 134);
    cursor: pointer;
  }
  